.sliderContainer {
  width: 100%;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  margin-top:-0.5rem;
}
.slider {
  position: relative;
  height:320px;
}
.sliderItem {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  transform: scale(0.8);
  transition: transform 0.8s ease, opacity 0.8s ease;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0;
}
.sliderItem.active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}
.sliderItem img {
  border-radius: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 6rem;
  margin-right: 6rem;
  margin-left: 0.5rem;
}
.imageContainer {
  width: 40%;
  display: flex;
}

.textContent {
  width: 60%;
  text-align: left;
  margin-top: -1rem;
  margin-left: -5rem;
}
.navigation {
  display: flex;
  justify-content: center;
  margin-top:-12rem;
}

.navButton {
  width: 15px;
  height: 15px;
  margin: 10px 5px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navButton.active,
.navButton:hover {
  background: #007bff;
}

.textCenter {
  text-align: center;
}

.fontMontserrat {
  font-family: 'Montserrat', sans-serif;
}

.fontThin {
  font-weight: 300;
}
